.footer
  .row.vspace-five &nbsp;
  ul.list-inline.align-center
    li
      a(href="https://twitter.com/hattira", title="Follow us on Twitter")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitter.fa-stack-1x.fa-inverse
    li
      a(href="https://www.facebook.com/pages/Hattira/1482998798583395", title="Like us on Facebook")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x.fa-inverse
    li
      a(href="https://plus.google.com/113114265602867455051/about", title="Follow us on Google plus", rel="publisher")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-google-plus.fa-stack-1x.fa-inverse
  ol.breadcrumb.vspace-two.align-center
    li
      | &copy; 2014 Hattira authors
    li
      a(href="/about") About
    li
      a(href="/privacy") Privacy
    li
      a(href="/contact") Contact
