.row#footer
    .col-sm-10.col-xs-12.col-sm-offset-1
      .row.vspace-four
        hr
      .row.hidden-xs
        .pull-right
          ul.list-unstyled
            li
              a(href='/meetups/new')
                span.glyphicon.glyphicon-plus-sign
                | &nbsp;Create new event
            li
              a(href='/about')
                span.glyphicon.glyphicon-info-sign
                | &nbsp;About
            li
              a(href='/contact')
                span.glyphicon.glyphicon-envelope
                | &nbsp;Contact
            li
              a(href='/privacy')
                span.glyphicon.glyphicon-wrench
                | &nbsp;Privacy
            li
              a(href='/terms')
                span.glyphicon.glyphicon-fullscreen
                | &nbsp;Terms &amp; conditions
        p
          span.glyphicon.glyphicon-copyright-mark
          | &nbsp;2013&nbsp;
          a(href='http://caulagi.com', target="_blank") Pradip P Caulagi.
      .row.visible-xs.align-center
        p
          span.glyphicon.glyphicon-copyright-mark
          | &nbsp;2013&nbsp;
          a(href='http://caulagi.com', target="_blank") Pradip P Caulagi.
        ul.list-unstyled.vspace-one
          li
            a(href='/meetups/new')
              span.glyphicon.glyphicon-plus-sign
              | &nbsp;Create new event
          li
            a(href='/about')
              span.glyphicon.glyphicon-info-sign
              | &nbsp;About
          li
            a(href='/contact')
              span.glyphicon.glyphicon-envelope
              | &nbsp;Contact
          li
            a(href='/privacy')
              span.glyphicon.glyphicon-wrench
              | &nbsp;Privacy
          li
            a(href='/terms')
              span.glyphicon.glyphicon-fullscreen
              | &nbsp;Terms &amp; conditions
