script(src='/static/js/jquery-2.0.3.min.js')
script(src='/static/js/bootstrap.min.js')
script(src='/static/js/bootstrap-datetimepicker.min.js')
script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyCxC77v0ZMmJmOPoGNccnO25kzb7iX_FYs&sensor=false')
script(src='/static/js/app.js')
block extra_js

script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25468002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
