.row-fluid#footer
  .span10.offset1
    .row-fluid
      hr
    .row-fluid
      | &copy; 2013 
      a(href='http://caulagi.com', title='Pradip Caulagi homepage') Pradip P Caulagi.
      span.license Licensed under 
        a(href='https://github.com/caulagi/deau/blob/master/LICENSE', title='MIT licensed') MIT.
