.row-fluid#footer
  .container
    .span10.offset1
      .row-fluid.vspace-four
        hr
      .row-fluid
        .pull-right
          ul.nav.nav-list
            li
              a(href='/meetups/new')
                i.icon-plus-sign
                | Create new event
            li
              a(href='/feedback')
                i.icon-comment
                | Feedback - tell us what you think
            li
              a(href='/about')
                i.icon-info-sign
                | About
            li
              a(href='/support')
                i.icon-envelope
                | Contact
            li
              a(href='/privacy')
                i.icon-wrench
                | Privacy
            li
              a(href='/terms')
                i.icon-fullscreen
                | Terms &amp; conditions
        p
          | &copy; 2013 &nbsp;
          a(href='http://caulagi.com') Pradip P Caulagi.
