#masthead
  .pull-right
    if (req.isAuthenticated())
      .dropdown
        a(data-toggle="dropdown", href="#").dropdown-toggle#dropdownProfile
          img(src="https://graph.facebook.com/#{req.user.facebook.id}/picture", alt="Profile image")
        span.caret
        ul(role="menu", aria-labelledby="dropdownProfile").dropdown-menu.pull-right
          li(role="presentation")
            a(href="/meetups/new", role="menuitem", tabindex="-1") Create new event
          li(role="presentation")
            a(href="/users/"+req.user.id, role="menuitem", tabindex="-1", title="Profile") Profile
          li.divider
          li(role="presentation")
            a(href="/logout", role="menuitem", tabindex="-1", title="logout") Logout
    else
      a#login-btn(href="/login", class="btn btn-success")
        i.glyphicon.glyphicon-user
        | &nbsp;&nbsp;|&nbsp;&nbsp; Login
  h1
    a.navbar-brand(href='/') hattira:
    .hidden-xs
      span.subheading Events around you
