
#masthead
  ul.nav.nav-pills.pull-right
    if (req.isAuthenticated())
      li
        a(href="/users/"+req.user.id, title="Profile") Profile
      li
        a(href="/logout", title="logout") Logout
    else
      li
        a(href="/login", title="Login") Login or signup
  h1
    a.brand(href='/') deau:
    span.subheading Developer Events Around You
  hr
