#marketing
  .row-fluid
    h1 Something New To Do
  .row-fluid.vspace-three.intro
    | Discover events in your city; &nbsp;
    span.orange.cursive Never miss the interesting; &nbsp;
    | Attend with your friends; &nbsp;
    span.orange.cursive Social features you expect - follows, friends, 'n more; &nbsp;
    | Organize events, invite friends, give a shout-out; &nbsp;
    span.green.cursive Free to use!
    hr.vspace-two
