#marketing
  .row-fluid
    h1 Something New To Do
  .row-fluid.vspace-three.intro
    | See all events in your city; &nbsp;
    span.orange Never miss out on anything; &nbsp;
    | Attend with your friends; &nbsp;
    span.orange Find interesting events by tags &amp; users; &nbsp;
    | Create events and let everyone know; &nbsp;
    span.orange Free to use!
    hr.vspace-two
