#marketing.carousel.slide
  ol.carousel-indicators
    li(data-target="#marketing", data-slide="0", class="active")
    li(data-target="#marketing", data-slide="1")
    li(data-target="#marketing", data-slide="2")
    li(data-target="#marketing", data-slide="3")
  .carousel-inner
    .item.active
      img(src="http://farm3.staticflickr.com/2120/2281805306_cf8d310c47_b.jpg", alt="Discover")
      .carousel-caption
        h3 Discover events in your city
        p Find what's interesting, who's attending and what's happening
    .item
      img(src="http://farm4.staticflickr.com/3038/2475566694_b0c5fc2b2d_b.jpg", alt="Organize")
      .carousel-caption
        h3 Create and organize better
        p 
          a(href="/meetups/new") Create event,
          | &nbsp;use Facebook to invite friends; tags to meet like minded people!
    .item
      img(src="http://farm1.staticflickr.com/228/516091476_3b68016e58_b.jpg", alt="Social")
      .carousel-caption
        h3 Has the social features you expect
        p Follow tags and users; share &amp; attend with friends
    .item
      img(src="http://farm4.staticflickr.com/3279/2327136912_cceac663f4_b.jpg", alt="Free")
      .carousel-caption
        h3 Free to use
  a.left.carousel-control(href="#marketing", data-slide="prev")
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href="#marketing", data-slide="next")
    span.glyphicon.glyphicon-chevron-right
.vspace-four
