#marketing
  .row-fluid
    h1 Developer Events Around You
  .row-fluid.vspace-three.intro
    | Community driven listing of developer events;
    span.orange &nbsp;Free to use;
    | &nbsp; Follow topics &amp; users;
    span.orange &nbsp; liberally licensed
    | &nbsp;... and many more features
    .vspace-two
    hr
    

    
