#marketing
  .row-fluid
    h1 Events In Your City
  .row-fluid.vspace-three.intro
    | Know what is happening in your city at a glance;
    span.orange &nbsp;Free to use;
    | &nbsp; Follow topics &amp; users;
    span.orange &nbsp;Community driven listing of events;
    .vspace-two
    hr
