form.form-vertical(method="post", action="/meetups/#{meetup._id}/comments")
  input(type='hidden', name='_csrf', value="#{csrf_token}")
  .fieldset
    legend New comment
    .control-group
      .controls
        textarea#comment.input-xxlarge(type='text', rows="6", name="body", placeholder='Add your comment')
        span.help-block You can use &nbsp;
          a(href="http://daringfireball.net/projects/markdown/", target="_blank") markdown.
    button.btn.btn-primary(type='submit') Add comment
