.row
  h3
    .pull-right Browse

.row.align-right
  h4.vspace-two By Cities
  p.vspace-one Coming soon

.row.align-right
  h4 By Tags
  - if (tags.length)
    ul.list-unstyled
      -each tag in tags
        li
          a.tag(href="/tags/"+tag) #{tag}
  - else
     | There are no tags yet
