extends ../layouts/default

block content

  h3.vspace-three.align-center
    | There are no events near you.  Be the first to &nbsp;
    a(href="/meetups/new") create an event

  p.vspace-four.align-center
    | Or you could see
    a(href="/meetups/past/") &nbsp;past events
    | &nbsp;at this location.


block extra_js
  script.
    mixpanel.track('Empty listing of events')
