extends ../layouts/default
include ../includes/mixins

block content
  include ../includes/marketing

  -if (req.city)
    -var city = req.city
    .city.row
      .container
        .pull-right Showing events in 
          span.cursive.green #{city.name}, #{city.state}, #{city.country.name}

  - if (upcoming.length || past.length)
    .col-sm-9.col-xs-12
      - if (upcoming.length)
        h1 Upcoming events
        +renderMeetups(upcoming)

      - if (past.length)
        hr.vspace-three
        h1 Past events
        +renderMeetups(past)

      - if (pages > 1)
        .pagination
          ul
            != createPagination(pages, page)
    .col-sm-offset-1.col-sm-2.col-xs-12
      include ./browse

  - else
    p.muted No events in your city yet.&nbsp;
      a(href="/meetups/new") Create one
    p Or see listing for &nbsp;
      a(href="/meetups/by-city/#{fallbackCityId}") Bangalore


block extra_js
  script.
    mixpanel.track('Event listing (index) page')
