extends ../layouts/default
include ../includes/mixins

block content
  .container#loc-human.hide.vspace-two
    .pull-right Showing events around &nbsp;
      span.cursive.green.info

  .vspace-two
  - if (meetups.length)
    .row
      .col-sm-9.col-xs-12
        - if (meetups.length)
          h1= title
          +renderMeetups(meetups)

        - if (pages > 1)
          .pagination
            ul
              != createPagination(pages, page)
      .col-sm-offset-1.col-sm-2.col-xs-12
        include ./browse

  - else
    p.vspace-four.text-warning
      | No events matching those parameters.  You can instead -
    dl.dl-horizontal
      dt
        a(href="/meetups/past") Past events
      dd View events in your location that have happened in the past
      dt
        a(href="/meetups/recent") Recent events
      dd View most recent events (from around the world)
      dt
        a(href="/meetups/new") Create an event
      dd Organizing an event?  Know of something interesting happening?
        | Create an event!

block extra_js
  script.
    mixpanel.track('#{title}')
  - if (loc)
    script.
      var geocoder = new google.maps.Geocoder()
        , latlng = new google.maps.LatLng(#{loc.coordinates[1]}, #{loc.coordinates[0]})

      geocoder.geocode({'latLng': latlng}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            $("#loc-human .info").text(results[1].formatted_address);
            $("#loc-human").removeClass("hide");
          }
        }
      })
