extends ../layouts/default

block content

  h3.vspace-three.align-center
    | hattira is a simple way to discover events near you.
  h3.vspace-three.align-center
    | We rely on your location details for this to work.
    p
      | Please allow the website to use your location
      | at the top of the page.

  .row.vspace-four
    .col-md-offset-1.col-md-10
      img(src="/static/img/geolocation.png", alt="Geolocation")

  p.vspace-four.align-center
    | Still here?!  Perhaps you would like
    | to see some events for
    a(href="/meetups/by-city/#{fallbackCityId}") &nbsp;Bangalore, India
    | &nbsp;?


block extra_js
  script.
    mixpanel.track('Event listing (index) page')

  script.
    if (geoPosition.init()) {
      geoPosition.getCurrentPosition(success, failure, {
        enableHighAccuracy: false
      })
    }

    function success(p) {
      window.location = "/meetups/by-location?lat="+p.coords.latitude+"&lon="+p.coords.longitude
    }

    function failure(p) {
      console.log(p)
    }
