extends ../layouts/default

block content
  include ../includes/marketing

  h3.vspace-four.align-center.row
    .col-md-offset-2.col-md-8
      p Select the city where you want to see listings
      form(action="/cities/set", method="GET").form-inline
        .form-group#autocomplete
          input(type="text", autocomplete="off").typeahead.form-control
        input(type="submit", value="Go").btn.btn-primary
    .col-md-offset-2.col-md-8#geoloc
      // content will be populated by javascript

  .vspace-three &nbsp;


block extra_js
  script.
    mixpanel.track('Event listing (index) page')

  script.
    $().ready(function () {
      function failure(p) {}

      function success(p) {
        var geocoder = new google.maps.Geocoder()
          , lat = p.coords.latitude
          , lng = p.coords.longitude
          , latlng = new google.maps.LatLng(lat, lng);

        geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              var url = '/meetups/by-location/?lat='+lat+'&lon='+lng;
              var address = results[1].formatted_address;
              $('#geoloc').html("Show me events around - <a href="+url+">"+address+"</a>");
            }
          }
        })
      }

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, failure, {
          enableHighAccuracy: false
        })
      }

      var autocomplete = new Bloodhound({
         datumTokenizer: Bloodhound.tokenizers.obj.whitespace('cities'),
         queryTokenizer: Bloodhound.tokenizers.whitespace,
         remote: '/cities/search?q=%QUERY'
      })

      $("#autocomplete .typeahead").typeahead(null, {
        name: 'cities',
        displayKey: 'cities',
        source: autocomplete.ttAdapter()
      })
    })
