body {
  font-size: 16px;
  font-family: 'Cuprum', sans-serif;
}

hr {
  border-top: 1px solid #ccc;
}

.align-center { text-align: center; }
.align-right { text-align: right; }

.vspace-one { margin-top: 1em; }
.vspace-two { margin-top: 2em; }
.vspace-three { margin-top: 3em; }
.vspace-four { margin-top: 4em; }
.vspace-five { margin-top: 5em; }
.align-right { text-align: right; }


.tagline {
  position: absolute;
  top: 0;
  padding-top: 180px;
  font-size: 48px;
  color: white;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
  font-weight: 900;
}

hr.divider {
  text-align: center;
  font-size: 3em;
  line-height: 1px; /* vertical centering */
  height: 1px; /* gap between the lines */
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  margin: 2.4em 1em;

  /* ensure 1px gap between borders */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

hr.divider:after {
  content: "§"; /* section sign */
  color: #999;
  display: inline; 
  background-color: #fff;
  padding: 0 0.5em;
}

/* opera doesn't render correctly. hide section sign */
x:-o-prefocus, hr:after {
  content: "";
}

.free {
  font-size: 12px;
  margin-left: 10px;
  position: relative;
  top: -10px;
}

.no-margin { margin: 0 }

.red { color: #c33; }
.blue { color: #6cc; }
.green { color: #27ae60; }
.orange { color: #d35400; }
.purple { color: #8e44ad;}

.meetup-date {
  font-size: 1.2em;
}
.vline {
  border-left: 1px solid #222;
  height: 500px;
}

.centered {
  text-align: center;
}

.footer {
  background-color: #f5f5f5;
  padding-bottom: 3em;
}

.meetup .content {
  border: 1px solid #ddd;
  padding: 1em;
}
.meetup .date {
  text-align: right;
  font-size: 1.1em;
}

#content-container {
  margin-top: 7px;
}

#marketing {
  margin: 8px 20%;
}

#marketing h1 {
  font-size: 54px;
  margin-top: 50px;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}

#marketing .intro {
  font-size: 24px;
  line-height: 30px;
}

#marketing .cursive {
  font-size: 28px;
}

#masthead {
  background: white;
  height: 60px;
  border-bottom: 1px solid #afafaf;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#masthead h1 {
  margin-top: 10px;
}

#masthead .pull-right {
  margin-top: 4px;
  margin-right: 20px;
}

#masthead h1 .navbar-brand {
  font-size: 34px;
  font-weight: bold;
}

#masthead h1 .subheading {
  font-size: 56%;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 4px;
  color: #bbb;
}

#masthead .pull-right .dropdown a {
  margin-right: 15px;
}

#masthead ul {
  margin: 10px 40px;
}

#footer .container {
  margin-bottom: 60px;
}

#footer .glyphicon {
  color: #e74c3c;
}

#footer li {
  margin-top: 5px;
}

#login {
  margin: 60px;
  font-size: 1.4em;
  text-align: center
}

#login-btn {
  margin-top: 10px;
  margin-right: 20px;
}

#about .intro {
  display: inline;
  font-size: 24px;
  line-height: 34px;
  margin-top: 2em;
}

#about #signoff {
  text-align: center;
  font-size: 22px;
  font-family: courier serif;
}

#map-canvas {
  height: 300px;
  width: 100%;
}

#feedback, #event-form {
  padding: 2em;
}

/** ----------------------------------------------------------
 * https://github.com/necolas/css3-social-signin-buttons
 * ----------------------------------------------------------
 */

/**
 * Button Object
 */

/**
 * 1. Corrects inability to style clickable 'input' types in iOS
 * 2. Remove excess padding in IE6/7
 * 3. IE6/7 inline-block hack for native block-level elements
 */

.btn-auth,
.btn-auth:visited {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    color: #222;
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(/static/img/auth-icons.png) no-repeat 99px 99px;
}

/**
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Facebook (extends .btn-auth)
   ========================================================================== */

.btn-facebook,
.btn-facebook:visited {
    border-color: #29447e;
    border-bottom-color: #1a356e;
    color: #fff;
    background-color: #5872a7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -webkit-linear-gradient(#637bad, #5872a7);
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -ms-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    -webkit-box-shadow: inset 0 1px 0 #879ac0;
    box-shadow: inset 0 1px 0 #879ac0;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #3b5998;
}

.btn-facebook:active {
    color: #fff;
    background: #4f6aa3;
    -webkit-box-shadow: inset 0 1px 0 #45619d;
    box-shadow: inset 0 1px 0 #45619d;
}

/*
 * Icon
 */

.btn-facebook:before {
    border-right: 1px solid #465f94;
    margin: 0 1em 0 -1em;
    background-position: 0 0;
}

.btn-facebook.large:before {
    background-position: 0 -22px;
}


/* Twitter
   ========================================================================== */

.btn-twitter,
.btn-twitter:visited {
    border-color: #a6cde6;
    color: #327695;
    background: #cfe4f0;
    /* css3 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
    color: #327695;
    border-color: #8dc2e4;
    background-color: #cadde9;
}

.btn-twitter:active {
    background: #cadde9;
    -webkit-box-shadow: inset 0 1px 0 #bbd6e7;
    box-shadow: inset 0 1px 0 #bbd6e7;
}

/*
 * Icon
 */

.btn-twitter:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -22px 0;
}

.btn-twitter.large:before {
    background-position: -36px -22px;
}
.btn-auth {
  margin-left: 20px;
}
