footer.vspace-five
  .container
    ol.breadcrumb.align-center.vspace-one
      li &copy; 2015 Hattira
      li
        a(href="//twitter.com/hattira", title="Follow us on Twitter", target="_blank")
          span.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x.fa-inverse
      li
        a(href="//www.facebook.com/pages/Hattira/1482998798583395", title="Follow us on Facebook", target="_blank")
          span.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x.fa-inverse
      li
        a(href="//plus.google.com/+Hattira/about", title="Follow us on G+", target="_blank")
          span.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-google-plus.fa-stack-1x.fa-inverse
      li
        a(href="/privacy") Privacy
      li
        a(href="/terms") Terms
