extends ../layouts/default

block content
  .vspace-four
  .panel.panel-success
    .panel-heading= title
    .panel-body
      .col-xs-12.align-center.vspace-two
        a(href="/auth/facebook", class="btn-auth btn-facebook") Login with Facebook
      .col-xs-12.align-center.vspace-two
        a(href="/auth/twitter", class="btn-auth btn-twitter") Login with twitter
