extends auth

block auth
  .row
    form.form-horizontal(action="/users/session", method="post", role="form").col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
      input(type='hidden', name='_csrf', value="#{csrf_token}")

      p.col-sm-offset-2.error= message

      .input-group
        input#email.form-control(type="email", placeholder="Email", name="email")
        span.input-group-addon
          i.fa.fa-envelope

      .input-group.vspace-one
        input#password.form-control(type="password", placeholder="Password", name="password")
        span.input-group-addon
          i.fa.fa-key

      .form-group.vspace-one
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Log in
          | &nbsp; or &nbsp;
          a.show-signup(href="/signup") Sign up
