extends ../layouts/default

block content

  form.form-horizontal.vspace-two(method="post", action="/users/registration/complete", enctype="multipart/form-data")
    input(type="hidden", name="_csrf", value="#{csrf_token}")

    legend
      | Please provide your email to complete registration
    fieldset
      .control-group
        label.control-label(for='email') Email
        .controls 
          input.input-xxlarge(type="text", name="email")

      .form-actions
        button.btn.btn-primary(type='submit') Submit

block extra_js
  script.
    mixpanel.track('Complete registration (email)')
