nav.navbar.navbar-default(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      button(type="button", data-toggle="collapse", data-target="#navbar-menu").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        img(alt="Brand", src="assets/images/hattira.png").img-rounded
        | &nbsp; Hattira
    #navbar-menu.collapse.navbar-collapse
      ul(ng-show="!isLoggedIn").nav.navbar-nav.navbar-right
        li
          a(href="/login").btn.btn-success.navbar-btn
            i.fa.fa-user.fa-fw
            | &nbsp;Login
      ul(ng-show='isLoggedIn').nav.navbar-nav.navbar-right
        li.dropdown
          a(href="#", data-toggle="dropdown", role="button").dropdown-toggle Hello {{getCurrentUser.name}}
            span.caret
          ul(role="menu").dropdown-menu
            li
              a(href="/meetups/create") Create event
            li
              a(href="/logout") Logout
