.jumbotron {
  background-color: white;
}

.navbar-brand {
  font-family: 'Francois One', sans-serif;
}

.marketing h2 {
  margin-top: 0;
}

.organize {
  color: #9b59b6;
}

.secure {
  color: #16a085;
}

.mobile {
  color: #c0392b;
}

.free {
  color: #f39c12;
}
