header#banner.hero-unit
  .container.align-center
    h1 The simplest way to discover events around you!
    ul.list-unstyled.vspace-two
      li.vspace-one
        strong Local
        | &nbsp;&nbsp;
        i.fa.fa-cogs.fa-lg
        | &nbsp;&nbsp;
        | Always see events closest to you!
      li.vspace-one
        strong Discover
        | &nbsp;&nbsp;
        i.fa.fa-binoculars.fa-lg
        | &nbsp;&nbsp;
        | Follow topics and people to find interesting events!
      li.vspace-one
        strong Organize better
        | &nbsp;&nbsp;
        i.fa.fa-users.fa-lg
        | &nbsp;&nbsp;
        | &nbsp; &nbsp;We will do SEO and social stuff to get you participants!
      li.vspace-one
        strong Secure
        | &nbsp;&nbsp;
        i.fa.fa-lock.fa-lg
        | &nbsp;&nbsp;
        | Your data is stored on 
        a(href="https://www.compose.io/", target="_blank") <mark>Compose servers</mark>
      li.vspace-one
        span.fa-stack.fa-lg
          i.fa.fa-cc-visa.fa-stack-1x
          i.fa.fa-ban.fa-stack-2x.text-danger
        | &nbsp;&nbsp;
        strong Free to use!

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
