.marketing
  .jumbotron
    .container
      h1 The simplest way to discover events around you
      p Hattira is a location aware, social solution to
        | help you discover interesting events around you!
  .container
    .row
      .col-md-3
        .row
          .col-xs-4
            span.fa-stack.fa-lg.organize
              i.fa.fa-square-o.fa-stack-2x
              i.fa.fa-send.fa-stack-1x
          .col-xs-8
            h2 Organize better
            p We will do SEO and social stuff to get you participants
              | so that you can concentrate on organizing!
      .col-md-3
        .row
          .col-xs-4
            span.fa-stack.fa-lg.mobile
              i.fa.fa-square-o.fa-stack-2x
              i.fa.fa-mobile.fa-stack-1x
          .col-xs-8
            h2 Mobile ready
            p What good is a solution today that doesn't work on all devices?
      .col-md-3
        .row
          .col-xs-4
            span.fa-stack.fa-lg.secure
              i.fa.fa-square-o.fa-stack-2x
              i.fa.fa-lock.fa-stack-1x
          .col-xs-8
            h2 Secure
            p Your data is safe with us.  We store your data on &nbsp;
              a(href="https://www.compose.io/", target="_blank") Compose servers
      .col-md-3
        .row
          .col-xs-4
            span.fa-stack.fa-lg.free
              i.fa.fa-beer.fa-stack-1x
              i.fa.fa-square-o.fa-stack-2x
          .col-xs-8
            h2 Free
            p Hattira is free to use for everyone - even for organizers!

.container
  .row
    .col-lg-12
      h1.page-header Upcoming meetups
      ul.col-md-6.col-sm-12(ng-repeat='meetup in meetups')
        li
          a(href='#', tooltip='{{meetup.title}}')
            | {{meetup.title}}
