div(data-ride="carousel").carousel.slide 
  carousel(interval="myInterval")
    slide
      img(ng-src="")
      .carousel-caption
        h1 Local
        p Find the events closest to your location
    slide
      img(ng-src="")
      .carousel-caption
        h1 Discover
        p Follow topics and people to find interesting events!
    slide
      img(ng-src="")
      .carousel-caption
        h1 Organize better
        p We will do SEO and social stuff to get you participants
          | so that you can concentrate on organizing!
    slide
      img(ng-src="")
      .carousel-caption
        h1 Secure
        p Your data is safe with us.  We store your data safe on &nbsp;
          a(href="https://www.compose.io/", target="_blank") Compose servers
    slide
      img(ng-src="")
      .carousel-caption
        h1 Free!
        p We like free stuff too.  So we made Hattira free for everyone!

.container
  .row
    .col-lg-12
      h1.page-header Upcoming meetups
      ul.col-md-6.col-sm-12(ng-repeat='meetup in meetups')
        li
          a(href='#', tooltip='{{meetup.title}}')
            | {{meetup.title}}
