body {
  padding-top: 20px;
  padding-bottom: 40px;
}

#masthead, #footer {
  font-family: 'Droid Sans, Lekton, serif';
}

#footer {
  margin: 0 10%;
  text-align: center;
}

#masthead h1 {
  font-size: 28px;
}

#masthead h1 .subheading {
  font-size: 70%;
  color: #ccd;
}
