.container
  h1.align-center Contact us
  hr
  p.align-center We would love to hear how we are doing.  Send us 
    a(href="mailto:info@hattira.com")
      strong.text-info an email.
    | &nbsp; Or contact us using one of the social links below!
