.container
  h1.align-center About Hattira
  hr
  p Hattira was built to answer two questions that are very common -
  ul
    li What is happening in my city this weekend?
    li How can I organize an event and get like minded people?
  p We built Hattira to answer these questions.
  ul
    li To find interesting
      | events in the city, we built a solution with two key ideas - 
      strong.text-info Local
      | &nbsp;and&nbsp;
      strong.text-info Discoverability
      | .
    li To make it easy to organize events, we made it 
      strong.text-success Free
      | &nbsp;and&nbsp;
      strong.text-info Social!
      | &nbsp;  We also handle stuff like SEO and social
      | media to spread word for you!
