extends layouts/default

block main
  .align-center.vspace-five
    h1 Page doesn't exist (404)
    br
    span The page you are looking for no longer exists.

block extra_js
  script.
      mixpanel.track('404')
