extends layouts/default.jade

block main
  h1 About us
    sup *
block content
  #about.vspace-two
    .row-fluid
      .span3.offset2
        img(src='http://farm7.staticflickr.com/6043/6358910241_3935434319.jpg', alt='research')
      .offset1.intro.span4
        | Over 2 years of market research, user studies, ideation,
        | prototyping, fail-fast.
    .row-fluid.vspace-two
      .span3.offset2
        img(src='http://farm4.staticflickr.com/3572/3309742017_6b0835ec30.jpg', alt='enterprise')
      .offset1.intro.span4
        | Enterprise ready.  Built with Enterprise Java, EJB, Servlet,
        | JBoss.  Works with
        em.orange &nbsp;Internet Explorer&nbsp;
        | on Windows 98 and Windows NT.
    .row-fluid.vspace-two
      .span3.offset2
        img(src='http://farm8.staticflickr.com/7200/6855249964_bc9d6372bf.jpg', alt='fault-tolerant')
      .offset1.intro.span4
        | Fault tolerant, state of art data centers, built-in redundancy,
        | hourly backup, 1028 bit encryption, SSL
    #signoff.row-fluid.vspace-five
      | Request your personalised demo in Kannada from our
      | sales team today - caulagi AT gmail DOT com
    .row-fluid.vspace-two.centered
      small
        | *Kidding aside, this is a hobby project.  No, really!
        br
        | Contributions are welcome. Fork us on
        a(href='https://github.com/caulagi/eiyc/', target='_blank') &nbsp;git

block extra_js
  script.
    mixpanel.track('About page')
