extends layouts/default.jade

block main
  h1 About us
    sup *
block content
  #about.vspace-two
    .row
      .col-sm-3.col-xs-12.col-sm-offset-2
        img(src='http://farm7.staticflickr.com/6043/6358910241_3935434319.jpg', alt='research', class="img-rounded img-responsive")
      .col-sm-offset-1.intro.col-sm-4.col-xs-12
        | Over 2 years of market research, user studies, ideation,
        | prototyping, fail-fast.
    .row.vspace-two
      .col-sm-3.col-xs-12.col-sm-offset-2
        img(src='http://farm4.staticflickr.com/3572/3309742017_6b0835ec30.jpg', alt='enterprise', class="img-rounded img-responsive")
      .col-sm-offset-1.intro.col-sm-4.col-xs-12
        | Enterprise ready.  Built with Enterprise Java, EJB, Servlet,
        | JBoss.  Designed for
        em.orange &nbsp;Internet Explorer&nbsp;
        | on Windows 98 and Windows NT.
    .row.vspace-two
      .col-sm-3.col-xs-12.col-sm-offset-2
        img(src='http://farm6.staticflickr.com/5021/5787300360_a7d6e68299.jpg', alt='fault-tolerant', class="img-rounded img-responsive")
      .col-sm-offset-1.intro.col-sm-4.col-xs-12
        | Enterprise support, 24x7 priority phone and email support,
        | training and customization support.
    #signoff.row.vspace-three
      | Request your personalised demo in Kannada from our
      | sales team today - caulagi AT gmail DOT com
    .row.vspace-five.centered
      | *Kidding aside, this is an open source project.  Contributions are welcome. Fork us on &nbsp;
      a(href='https://github.com/caulagi/sntd/', target='_blank')
        strong git

block extra_js
  script.
    mixpanel.track('About page')
