extends layouts/default

block content
  h2.vspace-three.align-center Contact
  p.vspace-two.align-center
    | We would love to know how we are doing - 
    a(href="mailto:info@hattira.com?subject=Hello there") email us

block extra_js
  script.
    mixpanel.track('Support page')
