extends layouts/default.jade

block content
  h2.vspace-three.align-center Privacy?
  p.vspace-two.align-center Yup, we have heard of it and try to be 
   | serious about it.  We don't share 
   | your email or data.  Or stalk you.  Or anything of that sort.

block extra_js
  script.
    mixpanel.track('Privacy page')
