extends layouts/default

block content
  h2.vspace-three.align-center Contact
  p.vspace-two.align-center
    strong Please mail: &nbsp;
    | caulagi AT gmail DOT com

block extra_js
  script.
    mixpanel.track('Support page')
