extends layouts/default

block content
  h2.vspace-three.align-center Terms of service
  ul.align-center.vspace-one.list-unstyled
    li We will try to keep the website available.
    li We will not share your email or data.

    p.vspace-two.align-center ... unless threatened by law.

block extra_js
  script.
    mixpanel.track('Terms page')
