extends layouts/default

block content
  h2.vspace-three.align-center Terms of service
  ul.align-center.vspace-one
    li We will try to keep the website available.
    li We will not share your email.

  p.vspace-two.align-center ... as far as possible.

block extra_js
  script.
    mixpanel.track('Terms page')
