extends ../layouts/default

block content
  form.form-horizontal#feedback(method="post", action="/feedback", enctype="multipart/form-data", role="form")
    fieldset
      input(type="hidden", name="_csrf", value="#{csrf_token}")

      legend= title

      .form-group
        label.col-sm-offset-1.col-sm-1.col-xs-2(for='name') Name 
        .col-xs-9
          input#title.form-control(type='text', name="name", value=feedback.name)
          span.help-block What is your name?

      .form-group
        label.col-sm-offset-1.col-sm-1.col-xs-2(for='email') Email
        .col-xs-9
          input#title.form-control(type='email', name="email", value=feedback.email)
          span.help-block Your email.  We won't spam you!

      .form-group
        label.col-sm-offset-1.col-sm-1.col-xs-2(for='body') Comment 
        .col-xs-9
          textarea#desc.form-control(type='text', rows="5", name="body")
          span.help-block Go ahead, say it!

      .form-group
        .col-xs-offset-2.col-xs-10
          button.btn.btn-primary(type="submit")
            span.glyphicon.glyphicon-save
            | &nbsp;Submit
          &nbsp;
          a.btn.btn-default(href='/', title="cancel")
            span.glyphicon.glyphicon-remove-circle
            | &nbsp; Cancel 

block extra_js
  script.
    mixpanel.track('Feedback page')
