extends ../layouts/default.jade

block content
  h2.vspace-three.align-center.green Thanks!
  p.vspace-two.align-center
    | Thanks for taking the time to give us your feedback.
    | You can also write to us to start a conversation 
    | - caulagi AT gmail DOT com.

block extra_js
  script.
    mixpanel.track('Feedback received')
