doctype html
html(lang='en')
  include ../includes/head
  body
    .container
      include ../includes/header
      block main
      include ../includes/messages
      block content
      include ../includes/footer
      include ../includes/foot
