doctype html
html(lang='en')
  include ../includes/head
  body
    include ../includes/header
    .container
      block main
      include ../includes/messages
      block content
      include ../includes/footer
    include ../includes/foot
